@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto/Roboto-Italic.ttf');
    font-style: italic;
}

html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
    font-family: 'Roboto';
} 

.flex-container {
    display: flex;
    background: peachpuff;
}

.flex-container div {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-item{
    height: 60px;
    border: 4px solid red;
}

div.section {
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
    border: 4px solid red;
}

.section-item {
    height: 260px;
    border: 4px solid red;
}

#section2-title {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: peachpuff;
}